<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @primary_location.name %>
</p>

<%= link_to 'Edit', edit_primary_location_path(@primary_location) %> |
<%= link_to 'Back', primary_locations_path %>
