<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>    
    <p>
      Bad news.
    </p>
    <p>
      <%= @instructor.name %> has unfortunately declined the event below.
    </p>
    <div class='row'>
      <h4><strong>Event Info</strong></h4>

      <ul>
          <li><%= @section.event.name %> </li>
          <li>Location:<%= @section.event.location.name %> </li>
          <li>Date: <%= @section.event.date.strftime("%A %b #{@section.event.date.day.ordinalize}, %Y") %></li>
      </ul>
    </div>
  </body>
</html>
