<p>
  <strong>Sport:</strong>
  <% if @instructor.ski_instructor? %>
  Skiing <img src= "/assets/skier-icon.ico" class="icons">
  <% end %>

  <% if @instructor.snowboard_instructor? %>
  Snowboarding <img src= "/assets/snowboarder-icon.png" class="icons">
  <% end %>

  <% if @instructor.telemark_instructor? %>
  Telemark <img src= "/assets/telemark-icon.png" class="tele-icon">
  <% end %>

  <% if @instructor.nordic_instructor? %>
  Nordic <img src= "/assets/nordic-icon.png" class="tele-icon">
  <% end %>
  <% if @instructor.adaptive_instructor? %>
  Adaptive <img src= "/assets/adaptive-icon.png" class="tele-icon">
  <% end %>
</p>
